{% load i18n unfold %}

<div class="flex flex-col {% if card_included == 1 %}-m-6{% else %}bg-white lg:border lg:border-base-200 lg:rounded-default lg:shadow-xs lg:dark:border-base-800 dark:bg-base-900 overflow-hidden{% endif %} {% if class %}{{ class }}{% endif %}">
    <div class="px-4 py-3 border-b border-base-200 dark:border-base-800">
        <h2 class="font-semibold text-font-important-light text-sm dark:text-font-important-dark">
            {% trans "Scenes" %}
        </h2>
    </div>

    <div class="px-4 py-3 bg-base-50/50 dark:bg-white/[.01]">
        <p class="text-sm text-font-secondary-light dark:text-font-secondary-dark">
            {% trans "Each author can add a scene. Everyone can edit and refine scenes using the refine tool." %}
            <a href="/admin/scene/scene/?story__id__exact={{ story.id }}" class="text-primary-600 font-medium hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300">{% trans "Edit Scenes" %}</a>
        </p>
    </div>

    <div class="px-4 grow" {% if height %}style="max-height: {{ height }}px;" data-simplebar{% endif %}>
        <table class="px-4 w-full text-left lg:table">
                {% if table.headers and table.rows %}
                        <tr class="">
                            {% for header in table.headers %}
                                <th class="align-middle border-b border-base-200 font-semibold py-2 text-left whitespace-nowrap hidden px-3 lg:table-cell dark:border-base-800 dark:bg-white/[.02] {% if card_included == 1 %}first:pl-6 last:pr-6{% endif %}">
                                    {{ header|capfirst }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}

                {% if table.rows %}
                    {% for row in table.rows %}
                        <tbody class="block relative lg:table-row-group" x-data="{ rowOpen: false }">
                            <tr class="data-row {% if striped == 1 %}{% cycle '' 'bg-base-50 dark:bg-white/[.02]' %}{% endif %} block group {% if forloop.first %}first-row{% endif %} {% if not card_included == 1 %}border border-base-200 mb-3 rounded-default shadow-xs{% else %}border-b border-base-200 {% if forloop.last %}last:border-b-0{% endif %}{% endif %} lg:table-row lg:border-none lg:mb-0 lg:shadow-none dark:border-base-800 relative">
                                {% for cell in row.cols|default:row %}
                                    <td class="px-3 py-2 align-middle flex border-t border-base-200 font-normal gap-4 min-w-0 overflow-hidden text-left before:flex before:capitalize before:content-[attr(data-label)] before:font-semibold before:text-font-important-light dark:before:text-font-important-dark first:border-t-0 lg:group-[.first-row]:border-t-0 lg:before:hidden {% if not forloop.parentloop.first %}lg:first:border-t{% endif %} lg:py-3 lg:table-cell dark:border-base-800 {% if card_included == 1 %}lg:first:pl-6 lg:last:pr-6{% endif %}" {% if table.headers %}data-label="{{ table.headers|index:forloop.counter0 }}"{% endif %}>
                                        {% if row.table.rows|length > 0 %}
                                            <div class="flex items-center gap-2">
                                                {% if forloop.first and row.table.rows|length > 0 and row.table.collapsible %}
                                                    <div class="material-symbols-outlined align-middle cursor-pointer select-none h-[18px] w-[18px] -rotate-90 transition-all" x-on:click="rowOpen = !rowOpen" x-bind:class="{'rotate-0': rowOpen}">
                                                        expand_more
                                                    </div>
                                                {% endif %}

                                                <div class="align-middle">
                                                    {{ cell }}
                                                </div>
                                            </div>
                                        {% else %}
                                            {{ cell }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>

                            {% if "table" in row %}
                                <tr class="block lg:table-row" {% if table.collapsible %}x-show="rowOpen"{% endif %}>
                                    <td class="block lg:table-cell" colspan="100%">
                                        {% if table.collapsible %}
                                            <div class="absolute bg-primary-600 -bottom-px hidden left-0 top-0 w-0.5 z-[50] lg:block" x-show="rowOpen"></div>
                                        {% endif %}

                                        <table class="block w-full lg:table">
                                            {% if row.table.headers %}
                                                <thead>
                                                    <tr class="bg-base-50 dark:bg-white/[.02]">
                                                        {% for header in row.table.headers %}
                                                            <th class="align-middle border-b border-t border-base-200 font-semibold py-2 text-important text-left whitespace-nowrap sortable column-description hidden px-3 lg:table-cell dark:border-base-800 dark:bg-white/[.02]">
                                                                {{ header }}
                                                            </th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                            {% endif %}

                                            <tbody class="block lg:table-row-group">
                                                {% for nested_row in row.table.rows %}
                                                    <tr class="data-row {% if row.table.striped == 1 %}{% cycle '' 'bg-base-50 dark:bg-white/[.02]' %}{% endif %} block group {% if forloop.first %}first-row{% endif %} border border-base-200 mb-3 rounded-default lg:table-row lg:border-none lg:mb-0 dark:border-base-800 relative">
                                                        {% for cell in nested_row %}
                                                            <td class="px-3 py-2 align-middle flex border-t border-base-200 font-normal gap-4 min-w-0 overflow-hidden text-left before:flex before:capitalize before:content-[attr(data-label)] before:font-semibold before:text-font-important-light dark:before:text-font-important-dark first:border-t-0 lg:group-[.first-row]:border-t-0 lg:before:hidden {% if not forloop.parentloop.first %}lg:first:border-t{% endif %} lg:py-3 lg:table-cell dark:border-base-800" {% if row.table.headers %}data-label="{{ row.table.headers|index:forloop.counter0 }}"{% endif %}>
                                                                {{ cell }}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

        {% if not table.rows %}
            <p class="px-4 py-8 text-center text-sm text-font-secondary-light dark:text-font-secondary-dark bg-white dark:bg-base-900">
                {% trans "No scenes yet. Add yours!" %}
            </p>
        {% endif %}

    <div class="px-4 py-4 bg-base-50/50 dark:bg-white/[.01]">
        <h2 class="mb-2 font-semibold text-font-important-light text-sm dark:text-font-important-dark">{% trans "Contribute!" %}</h2>
        <p class="px-2 text-sm text-font-secondary-light dark:text-font-secondary-dark bg-white dark:bg-base-900">
        {% if author %}
            {% trans "It is your moment to contribute. Do not overthink it!" %}
            <a class="px-1 btn btn-primary  dark:text-primary-400 dark:hover:text-primary-300" href="/admin/scene/scene/add/?author={{ author.id }}&story={{ story.id }}"><b>{% trans " Add a scene" %}</b></a>
        {% else %}
            {% trans "You are not an author yet. Just add yourself by editing the object." %}
        {% endif %}
        </p>
    </div>
</div>